* {
  margin: 0px;
  padding: 0px;
}
.page {
  width: 100svw;
  height: 100svh;
  /* background-image: url("../fsd_web/public/background_page1.avif"); */
}
#p1 {
  /* background-image: url(""); */
  background: linear-gradient(to right, skyblue, white);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://media.istockphoto.com/id/1268208576/photo/abstract-blue-and-gray-squares-design-background.jpg?s=170667a&w=0&k=20&c=JR37APblshMXNh8K7hZpxPQs0Zf3cpp8Vg-reOZwfqY=");
  background-size: cover;
}
#p2 {
  background-color: white;
}
#p3 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  width: fit-content;
  height: fit-content;
  background-color: white;
  position: relative;
  font-size: 15px;
  background-color: transparent;

  bottom: 39%;
  left: 61%;
}
.hello {
  width: 350px;
  height: 350px;
  /* border: 1px solid black; */
  position: relative;
  top: 70px;
  left: 100px;
  /* background-image: url("https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Ymx1ZSUyMGFuZCUyMHdoaXRlfGVufDB8fDB8fHww");
  background-size: 100% 100%; */
}
.devp {
  width: fit-content;
  height: fit-content;
  background-color: white;
  position: relative;
  background-color: transparent;
  bottom: 44%;
  left: 74%;
}
.box {
  width: 30%;
  height: 60%;

  position: relative;
  bottom: 40%;
  left: 65%;
}
.b1 {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b2 {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
#b1-a,
#b1-b {
  width: 40%;
  height: 90%;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#b2-a,
#b2-b {
  width: 40%;
  height: 90%;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#b1-a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#b1-b:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#b2-a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#b2-b:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.text1 {
  width: fit-content;
  height: fit-content;
  background-color: white;
  position: relative;
  top: 3%;
  left: 30%;
  font-size: 20px;
}
h1 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.text2 {
  width: fit-content;
  height: fit-content;
  background-color: white;
  position: relative;
  top: 5%;
  left: 32%;
  right: 20%;
  font-size: 25px;
}
p {
  font-style: italic;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}
.c {
  width: 60%;
  height: 70%;
  background-color: aqua;
  position: relative;
  top: 7%;
  left: 20%;
}
.c1 {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.c2 {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.c1-a,
.c1-b {
  width: 40%;
  height: 70%;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.c2-a,
.c2-b {
  width: 40%;
  height: 70%;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.c1-a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.c1-b:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.c2-a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.c2-b:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#logo1 {
  width: 15%;
  height: 34%;
  background-color: white;
  border-radius: 1000px;
  background-image: url("public/icon_page2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 10%;
  left: 5%;
}
.h1 {
  width: 60%;
  height: 20%;
  position: relative;
  bottom: 30%;
  left: 30%;
}
h5 {
  font-size: 20px;
}
#logo2 {
  width: 15%;
  height: 34%;
  border-radius: 1000px;
  background-image: url("public/icon_page2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 10%;
  left: 5%;
}
.p1 {
  width: 80%;
  height: 30%;
  position: relative;
  bottom: 10%;
  left: 20%;
}
p {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.h2 {
  width: 60%;
  height: 20%;
  background-color: white;
  position: relative;
  bottom: 30%;
  left: 30%;
}
.box1 {
  width: 50%;
  height: 70%;
  background-color: blue;
  border-radius: 20px;
}
.box2 {
  width: 22%;
  height: 68%;
  position: relative;
  background-color: white;
  top: 8%;
  right: 5%;
  border-radius: 10px;
  background-image: url("public/girl_image_page3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.t1 {
  width: 55%;
  height: 20%;
  color: white;
  position: relative;
  font-size: 10px;
  top: 20%;
  left: 10%;
}
.t2 {
  width: 55%;
  height: 15%;
  color: white;
  position: relative;
  top: 25%;
  left: 10%;
}
.l {
  width: 30%;
  height: 15%;
  background-color: blue;
  border: 2px solid white;
  border-radius: 100px;
  color: white;
  position: relative;
  top: 45%;
  left: 10%;
}
.l:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#P4 {
  background-image: url("public/man_image_page4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.About {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 5%;
  left: 54%;
}
.bulid {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 8%;
  left: 54%;
}
.text3 {
  width: 43%;
  height: 25%;
  position: relative;
  top: 10%;
  left: 54%;
}
h3 {
  color: salmon;
}
.read {
  width: 20%;
  height: 20%;
  background-color: blue;
  border: 2px solid white;
  border-radius: 100px;
  color: white;
  font-size: 16px;
}
.read:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.button {
  width: 100%;
  height: 30%;
  padding: 20px 0 0 0;
}
.contact {
  position: relative;
  top: 45%;
  right: 0%;
}
.contact:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.pic {
  width: 50px;
  height: 50px;
  background-color: white;
  background-image: url("public/phone_icon_page4.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
  position: relative;
  top: 200px;
  left: 90px;
}
.pp-4 {
  height: 100svh;
  display: flex;
}
.side-img {
  width: 100%;
}
.side-img img {
  width: 100%;
}
.right {
  width: 100%;
  position: relative;
  left: 0;
}
.para-1 {
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  padding: 10px;
}
.right h1,
.para-2 {
  font-style: normal;
  text-align: left;
  padding: 20px 0 20px 0;
}
.points {
  padding: 20px;
}
.btn {
  width: 100%;
  height: auto;
}
.btn button {
  width: 10%;
  height: 30%;
  padding: 20px 0 0 0;
  border-radius: 50px;
  position: relative;
  left: 86%;
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn {
  width: 100%;
  height: auto;
}
